<h1>Sandbox</h1>

<div>
  <h5>Filter</h5>
  Name: <input (keyup)="applyFilter($event, 'name')" placeholder="Filter"> <br>
  Position: <input (keyup)="applyFilter($event, 'position')" placeholder="Filter"> <br>
  Symbol: <input (keyup)="applyFilter($event, 'symbol')" placeholder="Filter"> <br>
  <button (click)="onClick()">Reset</button>
</div>

<mc-grid-data
  [dataSource]="gridDataSource"
  [columns]="columns"
  [selectable]="true"
  [(selectedItems)]="selectedItems"
  (selectedItemsChange)="onSelectedItemsChange($event)"></mc-grid-data>

<ng-template #actionCell let-row="row">
  <button (click)="doAction(row)">Action</button>
</ng-template>
