<h1>Sandbox</h1>

<div>
  <h1>Filtering</h1>
  <button (click)="onClick()">Reset</button>
  Name: <input (keyup)="applyFilter($event, 'name')" placeholder="Filter"> <br>
  Position: <input (keyup)="applyFilter($event, 'position')" placeholder="Filter"> <br>
  Symbol: <input (keyup)="applyFilter($event, 'symbol')" placeholder="Filter"> <br>
</div>

<mc-grid-data [dataSource]="gridDataSource" [columns]="columns"></mc-grid-data>

<ng-template #actionCell let-row="row">
  <button (click)="doAction(row)">Action</button>
</ng-template>
