<div>
  <div class="px-10 py-5 text-center">
    <h1 class="display-6">Angular Material Table</h1>
    <h3>with Custom DataSource using Strategy Design Pattern</h3>

    <div class="col-lg-7 mx-auto">
      <p class="lead mb-4">Learn how to create a custom implementation of DataSource for the Angular Material Table
        component using the Strategy Design Pattern. With this flexible and extensible approach, you can easily load
        data from various sources and apply multiple filters. Check out our example to see how it works!</p>
      <figcaption class="blockquote-footer">
        Text generated <cite title="Source Title">by ChatGPT 4.x</cite>
      </figcaption>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sandbox']">Sandbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/documents']">Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/data-audit']">Data Audit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/config-audit']">Config Audit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-lg-8 mx-auto py-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
