<ng-container *ngIf="columns && dataSource">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">\

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <input type="checkbox" [(ngModel)]="isAllSelected" (ngModelChange)="toggleAllSelection()"/>
      </th>
      <td mat-cell *matCellDef="let row">
        <input type="checkbox" (click)="$event.stopPropagation()" (change)="toggleSelection(row)" [checked]="isRowSelected(row)"/>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Sort by">{{ column.header }}</th>

      <ng-container *matCellDef="let row">
        <td mat-cell *ngIf="!column.cellTemplate">{{ row[column.columnDef] }} </td>
        <td mat-cell *ngIf="column.cellTemplate">
          <ng-container *ngTemplateOutlet="column.cellTemplate; context: { row }"/>
        </td>
      </ng-container>

    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['select'].concat(columns | columnDefToString);"></tr>
    <tr mat-header-row *matHeaderRowDef="['select'].concat(columns | columnDefToString)"></tr>
  </table>

  <div *ngIf="dataSource.loading$ | async">Loading...</div>

  <mc-grid-pagination [pageSizeOptions]="pageSizeOptions"
                      [pageSize]="pageSize"
                      (page)="onPageChanged()" *ngIf="pageable">
  </mc-grid-pagination>
</ng-container>
